<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Data</title>
</head>
<body>
  <h1>Weather Data</h1>
  <p>Humidity: <%= data.humidity %></p>
  <p>Temperature: <%= data.temperature %></p>
  <p>Air Pressure: <%= data.airPressure %></p>
  <p>Is it Rainy? <%= data.isRainy ? 'Yes' : 'No' %></p>
  <p>Is it Sunny? <%= data.isSunny ? 'Yes' : 'No' %></p>
</body>
</html>
